<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li:last-child {
border-right: none;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: black;
}
.active {
background-color: #6c93ee;
}

</style>
</head>
<body>

     <ul>
        <li><a href="http://localhost:8000/lab-4/">Home</a></li>
        <li><a href="http://localhost:8000/lab-4/add-note">Add</a></li>
        <li><a class="active" href="http://localhost:8000/lab-4/note-list">List</a></li>
      </ul>
    

<h2>Card</h2>
{% for note in note %}
<div class="card">
  <h4>To: {{note.to}}</h4>
  <h4>From: {{note.From}}</h4>
  <div class="container">
    <h4><b>{{note.title}}</b></h4> 
    <p>{{note.message}}</p> 
  </div>
</div>
{% endfor %}

</body>
</html> 
