<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <style>
        table, td, th {  
        border: 1px solid black;  
        border-collapse: collapse;
        
        }   
        th, td { 
        padding: 5px; }

        th {
          background-color: #11b16ec2;
        }
        td{
            text-align: center;
        }
        table{
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            vertical-align: bottom;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li:last-child {
            border-right: none;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: black;
        }
        .active {
            background-color: #6c93ee;
        }

    </style>

    <title>Note</title>

  </head>
  <body>
    <ul>
        <li><a class="active" href="http://localhost:8000/lab-4/">Home</a></li>
        <li><a href="http://localhost:8000/lab-4/add-note">Add</a></li>
        <li><a href="http://localhost:8000/lab-4/note-list">List</a></li>
      </ul>
    <table>
        <tr>
          <th>To:</th>
          <th>From:</th>
          <th>Title:</th>
          <th>Message:</th>
        </tr>
        {% for note in note %}
        <tr>
            <td>{{note.to}}</td>
            <td>{{note.From}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
        </tr>
        {% endfor %}
      </table>

    </body>
  </html>
  