<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Note</title>
  <style>
    @import url('https://rsms.me/inter/inter.css');
  
    body {
      font-family:'Inter', sans-serif;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    h1 {
      color: #6c93ee;
    }

    li {
      float: left;
    }

    li:last-child {
      border-right: none;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: black;
    }

    .active {
      background-color: #6c93ee;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:8000/lab-4/">Home</a></li>
    <li><a class="active" href="http://localhost:8000/lab-4/add-note">Add</a></li>
    <li><a href="http://localhost:8000/lab-4/note-list">List</a></li>
  </ul>
  
  <h1>Make New Note For Your Friend</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ forms }}
        <input type="submit" value="Submit">
    </form>
</body>