<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <style>
        table, td, th {  
        border: 1px solid black;  
        border-collapse: collapse;
        
        }   
        th, td { 
        padding: 5px; }

        th {
          background-color: #11b16ec2;
        }
        td{
            text-align: center;
        }
        table{
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            vertical-align: bottom;
        }
    </style>

    <title>Note</title>

  </head>
  <body>
    <table>
        <tr>
          <th>To:</th>
          <th>From:</th>
          <th>Title:</th>
          <th>Message:</th>
        </tr>
        {% for note in note %}
        <tr>
            <td>{{note.to}}</td>
            <td>{{note.From}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
        </tr>
        {% endfor %}
      </table>
    </body>
  </html>
  